body
{
    background-color: #696969;
}

#html
{
    height: 100%;
}

#content
{
    text-align: center;
    padding-top: 15%;
}

#nav
{
    border-bottom: 5px solid white;
}

#navBrand
{
    font-family: 'Kaushan Script', cursive;  
    font-size: 1.4em !important;
    padding-right: 20px;
}

.nav a
{
    font-size: 1.6em !important;
    margin-left: 20px;
}

#landingPageContainer
{
    height: 1000px;
}

#homeBackgroundImage
{
    background: url(/img/landing_image.jpg);
    background-size: cover;
    background-position: center;
}

#mainTitle 
{
    font-family: 'Kaushan Script', cursive;
    font-size: 3.9em !important;
    padding-top: 80px;
    padding-bottom: 20px;
    text-shadow: 2px 2px #fff;
}

#welcomeHeader 
{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.4em !important;
    text-shadow: 2px 2px #fff;
}

#viewGalleryBtn
{
    font-size: 2.0em;
    font-family: 'Kaushan Script', cursive;
    color: royalblue;
}

#gallery
{
    padding-top: 25px;
}

#galleryPageContainer
{
    border-top: 5px solid black;
}

#galleryTitle
{
    font-family: 'Kaushan Script', cursive;
    font-size: 3.8em !important;
    color: white;
    text-shadow: 2px 2px #000;
    text-align: center;
    padding-top: 30px;
}

.galleryText
{
    color: aliceblue;
    align-content: center;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px #000;
}

.galleryImage
{
    padding-bottom: 70px;
    padding-right: 50px;
    padding-left: 50px;
}

.imageTitle
{
    font-family: 'Playfair Display', serif;
    font-size: 1.9em !important;
    padding-left: 10px;
}

.imageCaption
{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.artworkSize
{
    padding-bottom: 20px;
    padding-left: 10px;
}

#AboutTitle
{
    font-family: 'Kaushan Script', cursive;
    font-size: 3.8em !important;
    color: white;
    text-shadow: 2px 2px #000;
    align-content: center;
    text-align: center;
    display: inline;
    margin-left: 20%;
}

#PhotoOfMe
{
    margin-left: 20%;
    height: 150px;
    border: 2px solid white;
}

.aboutText
{
    color: aliceblue;
    align-content: center;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px #000;
}

#footerContainer
{
    background-color:black; 
    border-top: 10px solid white; 
}

#footerThankyou
{
    border-right: 3px solid grey;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 20px;
}

#footerThankyouTitle
{
    font-family: 'Playfair Display', serif;
    font-size: 1.8em !important;
    color: white;
    text-shadow: 2px 2px #000;
}

#footerThankyouMessage
{
    color: rgba(255, 255, 255, 0.842);
    font-size: 1.1em !important;
}

#footerInstagram
{
    border-right: 3px solid grey;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

#footerInstagramLink
{
    color: #fff;
    font-size: 3.5em;
}

#footerInstagramText
{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 1.8em;
}

#backToTopSection
{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

#backToTopText
{
    color: #fff;
    font-size: 1.8em;
}

#arrowText
{
   color: #fff;
   font-size: 2.4em; 
}

#footerClosingNote
{
    text-align: center;
    color: whitesmoke;
    font-size: 1.1em;
    text-shadow: 1px 1px #000;
    border-top: 3px solid white;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Contact page styles */
#contactContent
{
    text-align: center;
    padding-top: 0px;
}

#contactPageTitle
{
    font-family: 'Kaushan Script', cursive;  
    font-size: 3.8em !important;
    color: black;
    text-shadow: 3px 3px #fff;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 10px;
}

#contactBackgroundImage
{
    background: url(/img/contact_image.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.contactSubheader
{
    font-size: 1.2em;
}

#contactTextEnd
{
    padding-bottom: 30px;
}

.formLabel
{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8em;
    color: black;
    text-shadow: 2px 2px #fff;
    padding-top: 10px;
}

#contactSubmitButton
{
    font-size: 1.5em;
    margin-top: 30px;
    width: 350px;
    margin-bottom: 100px;
    box-shadow: 4px 4px lightgray;
}

#galleryLinkFooter
{
    color: #fff;
    font-size: 1.8em;
    font-family: 'Kaushan Script', cursive;
}

/* The 'is-flex' css class 
   is for making sure all columns are the same height...
   see the footer for example */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}