body
{
    background-color: #696969;
}

#html
{
    height: 100%;
}

#content
{
    text-align: center;
    padding-top: 15%;
}

#navBrand
{
    font-family: 'Kaushan Script', cursive;  
    font-size: 1.4em !important;
    padding-right: 20px;
}

.nav a
{
    font-size: 1.6em !important;
    margin-left: 20px;
}

#landingPageContainer
{
    height: 1000px;
}

#homeBackgroundImage
{
    background: url(/img/landing_image.jpg);
    background-size: cover;
    background-position: center;
}

#mainTitle 
{
    font-family: 'Kaushan Script', cursive;
    font-size: 3.9em !important;
    padding-bottom: 20px;
    text-shadow: 2px 2px #fff;
}

#welcomeHeader 
{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.4em !important;
    text-shadow: 2px 2px #fff;
}

#gallery
{
    padding-top: 25px;
}

#galleryPageContainer
{
    border-top: 5px solid black;
}

#galleryTitle
{
    font-family: 'Kaushan Script', cursive;
    font-size: 3.8em !important;
    color: white;
    text-shadow: 2px 2px #000;
    text-align: center;
    padding-top: 30px;
}

.galleryText
{
    color: aliceblue;
    align-content: center;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px #000;
}

.imageTitle
{
    font-family: 'Playfair Display', serif;
    font-size: 2.3em !important;
}

.imageCaption
{
    font-size: 1.1em;
}

#footerThankyouTitle
{
    font-family: 'Playfair Display', serif;
    font-size: 1.6em !important;
    color: white;
    text-shadow: 2px 2px #000;
    text-align: center;
    padding-top: 50px;
}

#footerThankyouMessage
{
    color: rgba(255, 255, 255, 0.842);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
    font-size: 1.1em !important;
}

#footerInstagramLink
{
    color: #fff;
    font-size: 3.5em;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
}

#footerInstagramText
{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 230px;
    padding-left: 20px;
}

#backToTopArrow
{
    color: #fff;
    font-size: 2.4em;
    margin-top: 60px;
    padding-left: 25px;
    padding-top: 40px;
}

#footerClosingNote
{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-size: 1.1em;
    text-shadow: 1px 1px #000;
}